<h1 class="text-center head-spacer">Welcome <%= @member.email %></h1>



<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Manage</th>
        <th scope="col" class="text-center">Listing Title</th>
        <th scope="col" class="text-center">Listed Date</th>
        <th scope="col" class="text-center">Listing ID</th>
      </tr>
    </thead>
<% @listings.each do |t| %>
    <tbody>
      <tr>
        <th scope="row" class="text-center">Active</th>
        <td class="text-center row">
          <a href="#"><%= link_to "Display", listing_path(t) %></a>
          <a href="#"><%= link_to "Delete", t, method: :delete %></a>
          <a href="#"><%= link_to "Edit", edit_listing_path(t) %></a>
        </td>
        <td class="text-center"><%= t.title %></td>
        <td class="text-center"><%= t.created_at.strftime("%b %d, %y") %></td>
        <td class="text-center"><%= t.id %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<%= render 'sidebar' %>
